https://www.renarepenning.com/weplaynoladata/

## Rena Repenning and Eddy Salazer

# Project Plan

### Question

XXX

### Data 
1. We Play Data [<sup>1</sup>](#fn1)
    Provided by Christine Neely

### Explanation
We are inspired by The We Play center's mission: "to offer a safe place to play while engaging in activities that promote brain development." 
Melanie Richardson expressed a need for statistical evidence of We Play's importance.

### Collaboration Plan
Rena and Eddy will utilize this repository to simultaneously edit the project. 
We plan on connecting over Zoom as needed and keeping constant communication over instant message. Also, we are both able to meet after class on Thursdays.
When convinient, we will export notebooks to Google Colabs to support simultaneous editing. 
(This is easily done using a Colabs Chrome extension).

### Footnotes
<span id="fn1"> 1. WePLAY data was last downloaded on October 25th, 2021. We could not use a live link because of spaces in filenames.</span>

# Exploring WePLAY Survey Results

Provided by Christine Neely from WePlay by Training Grounds nola. Data last accessed on October 25th.

In [5]:
import pandas as pd

## Imports, as needed
#!head ../notebooks/_data/WePLAYData/
!pip3 install openpyxl # followed error messages to install openpyxl package

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 3.3 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

In [6]:
fam_survey = pd.read_excel("../notebooks/_data/WePlayData/WPCFamilySurvey.xlsx")
fam_survey.head()

## This dataset has many more values than entries, and cannot be effectively tidied as the key is Respondent ID

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,What is your gender?,...,Unnamed: 64,"In a typical week, about how much time does your child engage in active indoor play?","In a typical week, about how much time does your child engage in quiet indoor play?","In a typical week, about how much time does your child engage in outdoor play?",What will keep you coming back to the We PLAY Center?,What aspect of the We PLAY Center do you find most helpful?,Would you recommend a family or friend to the We PLAY Center?,Name,Unnamed: 72,Date
0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,Response,...,Has your child exhibited an increase in age-ap...,Hours (approximate),Hours (approximate),Hours (approximate),Open-Ended Response,Open-Ended Response,Response,First Name,Last Name,Date
1,1.092363e+10,225003849.0,2019-08-13 14:16:22,2019-08-13 14:20:25,107.77.249.48,NaN,NaN,NaN,NaN,Female,...,Mostly agree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.092340e+10,225003849.0,2019-08-13 12:43:30,2019-08-13 12:52:16,172.56.26.76,NaN,NaN,NaN,NaN,Female,...,NaN,7,5,7,The positive staff and positive environment.,NaN,Yes,Xontownekiah,Ellison,08/13/2019
3,1.092099e+10,225003849.0,2019-08-12 12:27:33,2019-08-12 12:34:37,107.77.249.48,NaN,NaN,NaN,NaN,Female,...,Neither disagree nor agree,12,12,3,My kids love it there an I enjoy playing with ...,Different stuff,Yes,Megan,Nelson,08/12/2019
4,1.092099e+10,225003849.0,2019-08-12 11:48:15,2019-08-12 12:26:53,107.77.249.48,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# This set has the same issues
incoming_reflection = pd.read_excel("../notebooks/_data/WePlayData/WPCIncomingParentReflection.xlsx")
incoming_reflection.head()

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,What is your gender?,...,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Would you recommend the We PLAY Center to a family or friend?,Are there any additional comments you would like to share with the We PLAY Center?,First Name.1,Last Name.1
0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,Response,...,Website,"Social Media (facebook, Twitter, Instagram)","Another organization (Kingsley House, Healthy ...",Lafitte Fauborg Housing Office,We PLAY Center Staff,Other (please specify),Response,Open-Ended Response,Open-Ended Response,Open-Ended Response
1,1.127194e+10,244233757.0,2020-01-13 17:42:45,2020-01-13 18:19:24,98.163.225.126,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,From picking up School Supplies for my other 2...,Yes,NaN,Stacy,Harris
2,1.123680e+10,244233757.0,2019-12-20 11:38:37,2019-12-20 11:43:06,70.186.98.87,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,Jessica,Winters
3,1.123251e+10,244233757.0,2019-12-18 15:03:02,2019-12-18 15:06:43,72.211.124.135,NaN,NaN,NaN,NaN,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,Oliver,Wise
4,1.117937e+10,244233757.0,2019-11-27 15:07:54,2019-11-27 15:11:54,107.77.200.18,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Please open on the weekends!,Megan,Washack

In [9]:
incoming_reflection_July19 = pd.read_excel("../notebooks/_data/WePlayData/WPCIncomingParentReflection-July2019.xlsx")
incoming_reflection_July19.head()

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,What is your gender?,...,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Would you recommend the We PLAY Center to a family or friend?,Do you have any feedback on how the We PLAY Center can improve this Parent Reflection Form? Your feedback will used to modify this form and guide the development of future forms.,Are there any additional comments you would like to share with the We PLAY Center?,First Name.1,Last Name.1
0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,Response,...,Website,"Social Media (facebook, Twitter, Instagram)","Another organization (Kingsley House, Healthy ...",Lafitte Fauborg Housing Office,Other (please specify),Response,Open-Ended Response,Open-Ended Response,Open-Ended Response,Open-Ended Response
1,1.097254e+10,242461998.0,2019-09-05 18:11:49,2019-09-05 18:24:24,63.249.72.114,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.093646e+10,242461998.0,2019-08-20 07:09:08,2019-08-20 07:22:17,72.211.114.28,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,Yes,NaN,You all have been such an important and valuab...,Deidre,Gantt
3,1.091339e+10,242461998.0,2019-08-08 11:44:40,2019-08-08 11:58:47,72.204.146.32,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,Yes,NaN,You all are the best! The staff is amazing. I’...,Annie,Miklavcic
4,1.091316e+10,242884281.0,2019-08-08 10:33:01,2019-08-08 10:44:29,72.205.182.40,NaN,NaN,NaN,NaN,Male,...,Website,"Social Media (facebook, Twitter, Instagram)",NaN,NaN,NaN,Yes,NaN,NaN,John,Abadie

In [10]:
incoming_reflection_Nov19 = pd.read_excel("../notebooks/_data/WePlayData/WPCIncomingParentReflection-November2019.xlsx")
incoming_reflection_Nov19.head()

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,What is your gender?,...,Unnamed: 170,Unnamed: 171,Unnamed: 172,Unnamed: 173,Unnamed: 174,Would you recommend the We PLAY Center to a family or friend?,Do you have any feedback on how the We PLAY Center can improve this Parent Reflection Form? Your feedback will used to modify this form and guide the development of future forms.,Are there any additional comments you would like to share with the We PLAY Center?,First Name.1,Last Name.1
0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,Response,...,"Social Media (facebook, Twitter, Instagram)","Another organization (Kingsley House, Healthy ...",Lafitte Fauborg Housing Office,We PLAY Center Staff,Other (please specify),Response,Open-Ended Response,Open-Ended Response,Open-Ended Response,Open-Ended Response
1,1.121566e+10,249828299.0,2019-12-11 18:52:26,2019-12-11 19:28:39,70.180.70.217,raklasing58@gmail.com,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,Dcfs staff,Yes,NaN,NaN,Roberta,Klasing
2,1.120736e+10,249828299.0,2019-12-09 10:28:23,2019-12-09 10:35:47,99.203.155.230,christopherbenz@gmail.com,NaN,NaN,NaN,Male,...,NaN,NaN,NaN,NaN,NaN,Yes,NaN,Thanks for existing!,christopher,benz
3,1.118977e+10,249828299.0,2019-12-02 16:37:16,2019-12-02 16:45:41,72.198.183.180,joanna.x.russo@gmail.com,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN
4,1.116087e+10,248173257.0,2019-11-20 14:44:16,2019-11-20 14:46:17,172.58.101.23,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
incoming_reflection2020 = pd.read_excel("../notebooks/_data/WePlayData/CopyofTheWePLAYCenterIncomingParentReflectionForm2020.xlsx")
incoming_reflection2020.head()

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,What is your gender?,...,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Would you recommend the We PLAY Center to a family or friend?,Are there any additional comments you would like to share with the We PLAY Center?,First Name.1,Last Name.1
0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,Response,...,Website,"Social Media (facebook, Twitter, Instagram)","Another organization (Kingsley House, Healthy ...",Lafitte Fauborg Housing Office,We PLAY Center Staff,Other (please specify),Response,Open-Ended Response,Open-Ended Response,Open-Ended Response
1,1.139259e+10,252542815.0,2020-03-04 14:30:44,2020-03-04 14:37:00,99.203.26.135,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,Siera,Tafoya
2,1.136253e+10,252542815.0,2020-02-21 10:46:37,2020-02-21 10:49:59,72.211.115.231,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN
3,1.135788e+10,252542815.0,2020-02-19 16:33:15,2020-02-19 16:38:13,184.176.223.214,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,Lydia,Nichols
4,1.135497e+10,252542815.0,2020-02-18 16:11:12,2020-02-18 16:35:56,98.164.79.160,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# ETL

Issues .....

# Automatic updating for Git Pages

In [ ]:
# automatically create index.html
# convert this file to HTML
!jupyter nbconvert --to html MilestoneTwo.ipynb

# Delete old index.html
!rm index.html
# move MilestoneTwo.html to index.html
!mv MilestoneTwo.html index.html

# Check files
!ls

In [ ]:
# Push to Rena's repo
!git config --global user.name "renarepenning"
!git config --global user.email "rrepenning@tulane.edu"
!git add -A
!git commit -m "auto update index.html"
!git push

In [ ]:
# Push after checking message
!git push
## HOW DO I ADD MY USERNAME

Username for 'https://github.com':